.counter {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5em;
    color: $black;
    font-weight: bold;

    &--finished {
        color: $primary-color;
    }
}